
<!-- サイドバー -->
   
<div class="left">
        <ul class='menu-wrapper'> 
        <li class="menulist"> <img src="cuppy_logo_big.png" width="155" height="77" /></li> 
</div>


<div class="contents">
<!--背景画像-->
    <img src="/assets/login_background.png"  class="lognin_background" />
<!--レシピ中身-->
    <div class='login'>

     <div class='form'>
      <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.text_field :email, :placeholder  => "メールアドレス"%>
      <%= f.password_field :password, :placeholder  => "パスワード"%>
      <% end %>
     </div>
    <div class='registerbutton'><%= button_to 'ログイン', recipes_path, :class => "button", :method => :get  %><br /></div>
    </form>  
    <div class='alreadyuser'><a href="/ddk">新規会員登録はこちら</a></div>
</div>


