<p>
  <strong>Title:</strong>
  <%= @cup.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @cup.user_id %>
</p>

<p>このCupに入っているrecipeは…</p>
<% @recipes.each do |recipe| %>
  <%= recipe.title %>
<% end %>
