// Place all the styles related to the Situations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo {
  width: 400px;
  height: 300px;
}


.header_logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.left{
  width: 15%;
  height: 500px;
  float: left;
  position: fixed;
}

.left ul{
  list-style: none;
}

.menu-wrapper a:hover{
  color: #09C;
  text-decoration: none;
  border-bottom: 2px dotted #09C;
}

.menu-wrapper a {
  margin-bottom: 1px;
  padding: 5px 0 5px 10px;
  display: block;
  width: 126px;
  text-decoration: none;
  border-bottom: 2px dotted  #333;
  color:  #333;
}

#themelist {
  margin-left:180px;
  margin-right: 20px;
}

#themelist img{
  width: 200px;
  padding: 10px;
}

#themelist li{
  display: inline;
}

#themelist ul{
  list-style: none;
}
